<div class="container">
  <h1>Tweetr</h1>

	<% if signed_in? %>
		<form action="/tweet" method="post">
	    <textarea name="tweet" placeholder="Compose new Tweet..."></textarea>
	    <input type="submit">
	  </form>

	  <a href="/tweets/fetch">Get my tweets</a>

		<a href="/sign_out" id="auth" >Sign out</a>
	<% else %>
		<a href="/sign_in" id="auth" >Sign in</a>
	<% end %>

</div>
